.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h2 {
  font-size: 36px;
  color: #bdd8ff !important;
}

h3 {
  font-size: 26px;
  color: #bdd8ff !important;
}

.App-header {
  background-color: #75ddca;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #53566b;
}

body {
  background-color:#2E385E ;
  color: #53566b !important;
  font-family:'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}